.header__login-text {
  display: block;
  max-width: 142px;
  margin: 0;
  padding: 0;
  margin-left: 24px;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .header__login-text {
    max-width: 103px;
  }
}